* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
ul {
  margin: 0;
}
img {
  display: block;
}
html {
  font-size: 100px ;
}
@media all and (max-width: 1200px) {
  html {
    font-size: calc(100vw / 7.2);
  }
}
body {
  font-size: 16px;
}
body::-webkit-scrollbar {
  width: 0;
}
.conten {
  width: 100%;
}
.w {
  width: 12rem;
  margin: 0 auto;
  overflow: hidden;
}
@media all and (max-width: 1200px) {
  .w {
    width: 7.2rem;
  }
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.header {
  position: relative;
  width: 100%;
  height: 8rem;
  background: url(../upload/bg1.jpg) no-repeat center / cover;
  overflow: hidden;
}
.header .w {
  position: relative;
}
.header .w .mb {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.nav {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 0.34rem;
}
@media all and (max-width: 1200px) {
  .nav {
    margin-top: 2.1rem;
  }
}
.nav .nav_1 {
  position: relative;
  height: 0.98rem;
  margin-left: 1.32rem;
}
@media all and (max-width: 1200px) {
  .nav .nav_1 {
    margin-left: 0rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
  }
}
.nav .nav_1 .nav_left {
  float: left;
}
.nav .nav_1 .nav_left img {
  width: 0.58rem;
  height: 0.63rem;
  margin-left: 0.4rem;
}
@media all and (max-width: 1200px) {
  .nav .nav_1 .nav_left img {
    margin-top: 0.14rem;
    width: 0.6rem;
    height: 0.69rem;
  }
}
.nav .nav_1 .nav_right {
  display: flex;
  justify-content: space-between;
  font-size: 0.2rem;
  float: left;
  width: 5.57rem;
  margin-left: 2.63rem;
  margin-top: 0.17rem;
}
@media all and (max-width: 1200px) {
  .nav .nav_1 .nav_right {
    display: none;
  }
}
.nav .nav_1 .nav_right a {
  color: #434c5f;
}
.nav .nav_1 .nav_right a:hover {
  text-decoration: none;
}
.nav .nav_1 .dh {
  display: none;
}
@media all and (max-width: 1200px) {
  .nav .nav_1 .dh {
    display: block;
  }
}
.nav .nav_1 .dh .sz {
  width: 0.6rem;
  height: 0.5rem;
  background: linear-gradient(#fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
  margin-right: 0.2rem;
  margin-top: 0.24rem;
}
@media all and (max-width: 1200px) {
  .nav .nav_1 .dh .sz {
    display: block;
    float: right;
    line-height: 0.69rem;
  }
}
.nav .nav_1 .dh .sz_1 {
  width: 0.6rem;
  height: 0.5rem;
  background: linear-gradient(#434c5f 0%, #434c5f 20%, transparent 20%, transparent 40%, #434c5f 40%, #434c5f 60%, transparent 60%, transparent 80%, #434c5f 80%, #434c5f 100%);
  margin-right: 0.2rem;
  margin-top: 0.24rem;
}
@media all and (max-width: 1200px) {
  .nav .nav_1 .dh .sz_1 {
    display: block;
    float: right;
    line-height: 0.69rem;
  }
}
.nav .nav_1 .dh .nav_right_01 {
  display: none;
  position: absolute;
  width: 100%;
  height: 0.84rem;
  text-align: center;
  line-height: 0.84rem;
  margin-top: 0.9rem;
}
.nav .nav_1 .dh .nav_right_01 a {
  background-color: #eee;
  display: block;
  border-bottom: 0.01rem solid #ccc;
  color: #434c5f;
  font-size: 0.3rem;
}
.nav .nav_1 .dh .nav_right_01 a:hover {
  background-color: #fff;
}
.nav .iridescent {
  margin-top: 1.14rem;
  margin-left: 2.3rem;
  line-height: 1;
}
@media all and (max-width: 1200px) {
  .nav .iridescent {
    margin-left: 0.4rem;
  }
}
.nav .iridescent h1 {
  font-size: 0.8rem;
  color: #fff;
  margin: 0;
}
.nav .iridescent p {
  font-size: 0.5rem;
  color: #434c5f;
  font-weight: 300;
  margin-top: 0.2rem;
}
.nav .nav1_bottom {
  margin-top: 3.25rem;
  margin-left: 2.3rem;
}
@media all and (max-width: 1200px) {
  .nav .nav1_bottom {
    margin-top: 2.94rem;
    margin-left: 0.5rem;
  }
}
.nav .nav1_bottom ul {
  margin: 0;
  display: flex;
}
@media all and (max-width: 1200px) {
  .nav .nav1_bottom ul {
    height: 1.4rem;
  }
}
.nav .nav1_bottom ul li {
  margin-right: 0.65rem;
}
.nav .nav1_bottom ul li a {
  font-size: 0.2rem;
  color: #434c5f;
  display: flex;
  text-decoration: none;
}
@media all and (max-width: 1200px) {
  .nav .nav1_bottom ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.nav .nav1_bottom ul li a img {
  width: 0.46rem;
  height: 0.46rem;
  margin-top: 0.06rem;
}
@media all and (max-width: 1200px) {
  .nav .nav1_bottom ul li a {
    font-size: 0.24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.nav .nav1_bottom ul li a span {
  margin-left: 0.21rem;
}
@media all and (max-width: 1200px) {
  .nav .nav1_bottom ul li a span {
    font-size: 0.24rem;
    margin-top: 0.21rem;
    line-height: 0.28rem;
    margin-left: 0;
    width: 0.96rem;
  }
}
.centre {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.centre .top {
  width: 100%;
  height: 1rem;
  background: url(../image/02-顶.jpg) no-repeat center center / cover;
}
.centre .open {
  text-align: center;
}
.centre .open .head h3 {
  font-size: 0.3rem;
  font-weight: 700;
  color: #333333;
}
@media all and (max-width: 1200px) {
  .centre .open .head h3 {
    font-size: 0.36rem;
  }
}
.centre .open .head p {
  margin-top: 0.22rem;
  margin-bottom: 0 ;
  font-size: 0.2rem;
  color: #999;
  font-weight: 400;
}
@media all and (max-width: 1200px) {
  .centre .open .head p {
    font-size: 0.24rem;
  }
}
.centre .open .middle {
  margin-top: 0.29rem;
}
.centre .open .middle ul {
  display: flex;
  justify-content: center;
}
.centre .open .middle ul li {
  flex: 1;
}
.centre .open .middle ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centre .open .middle ul li a img {
  width: 2.11rem;
  height: 4.16rem;
}
@media all and (max-width: 1200px) {
  .centre .open .middle {
    display: none;
  }
}
.centre .open .middle_02 {
  display: none;
  margin-top: 0.29rem;
}
.centre .open .middle_02 ul {
  display: flex;
  justify-content: space-around;
}
.centre .open .middle_02 ul li a img {
  width: 1.94rem;
  height: 4rem;
}
@media all and (max-width: 1200px) {
  .centre .open .middle_02 {
    display: block;
  }
}
.centre .open .bottom {
  margin-top: 0.9rem;
}
.centre .open .bottom ul {
  display: flex;
  justify-content: center;
  height: 1.35rem;
}
.centre .open .bottom ul li {
  margin-left: 1.05rem;
  margin-top: 0.07rem;
}
.centre .open .bottom ul li:first-child {
  margin-left: 0;
}
.centre .open .bottom ul li:last-child {
  margin-top: 0;
}
.centre .open .bottom ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centre .open .bottom ul li a img:nth-child(4) {
  height: 1.25rem;
}
.centre .open .bottom ul li a span {
  color: #333;
  margin-top: 0.09rem;
}
@media all and (max-width: 1200px) {
  .centre .open .bottom {
    display: none;
  }
}
.centre .open .bottom_1 {
  display: none;
  width: 5.6rem;
  height: 3.2rem;
  margin: 0.84rem auto 0;
}
.centre .open .bottom_1:hover .tp img:nth-child(1) {
  display: block;
}
.centre .open .bottom_1 .wz {
  float: left;
}
.centre .open .bottom_1 .wz p {
  width: 2.4rem;
  height: 0.8rem;
  font-size: 0.2rem;
  text-align: center;
  line-height: 0.8rem;
}
.centre .open .bottom_1 .tp {
  float: left;
  width: 3.2rem;
  height: 3.2rem;
  background: #96c6e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centre .open .bottom_1 .tp img {
  padding: 0.2rem;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  display: none;
}
.centre .open .bottom_1 .tp img:nth-child(1) {
  display: block;
}
@media all and (max-width: 1200px) {
  .centre .open .bottom_1 {
    display: block;
  }
}
.centre .footer {
  width: 100%;
  height: 1rem;
  background: url(../image/02-底.jpg) no-repeat center center / cover;
}
.promotion {
  overflow: hidden;
  width: 100%;
  height: 6.5rem;
  background: url(../image/cyyp-2.jpg) no-repeat center / cover;
}
.promotion .w {
  position: relative;
}
.promotion .w .hot {
  margin-top: 0.67rem;
  text-align: center;
  color: #fff;
}
.promotion .w .hot h3 {
  font-size: 0.3rem;
  font-weight: 700;
}
.promotion .w .hot p {
  margin-top: 0.21rem;
  font-size: 0.2rem;
  font-weight: 400;
}
.promotion .w .lunbo {
  width: 11rem;
  margin-top: 1rem;
  text-align: center;
  color: #fff;
}
.promotion .w .lunbo .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promotion .w .lunbo .swiper-slide img {
  width: 5.4rem;
  height: 2.4rem;
}
.promotion .w .lunbo .swiper-slide span {
  font-size: 0.2rem;
}
@media all and (max-width: 1200px) {
  .promotion .w .lunbo {
    width: 100%;
  }
}
.promotion .swiper-button-next {
  top: 75%;
  right: 0;
  background: url(../image/next.png) no-repeat center / 0.21rem 0.4rem;
}
@media all and (max-width: 1200px) {
  .promotion .swiper-button-next {
    right: 0.3rem;
  }
}
.promotion .swiper-button-prev {
  top: 75%;
  left: 0;
  background: url(../image/prev.png) no-repeat center / 0.21rem 0.4rem;
}
@media all and (max-width: 1200px) {
  .promotion .swiper-button-prev {
    left: 0.3rem;
  }
}
.promotion .swiper-button-next.swiper-button-disabled,
.promotion .swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
}
.spokesperson {
  overflow: hidden;
  width: 100%;
  height: 6.5rem;
  background: url(../image/cyym3.jpg) no-repeat center / cover;
}
.spokesperson .hot {
  margin-top: 0.68rem;
  text-align: center;
}
.spokesperson .hot h3 {
  font-size: 0.3rem;
  color: #333;
}
.spokesperson .hot p {
  margin-top: 0.21rem;
  font-size: 0.2rem;
  color: #999;
}
.investment {
  overflow: hidden;
  width: 100%;
  height: 6rem;
  background: url(../image/cyyp4.jpg) no-repeat center / cover;
}
.investment p {
  margin-top: 0.68rem;
  text-align: center;
  font-size: 0.3rem;
  font-weight: 700;
  color: #353952;
}
.cooperation {
  overflow: hidden;
  width: 100%;
  height: 4rem;
  text-align: center;
}
.cooperation .footer_01 {
  margin-top: 0.68rem;
}
.cooperation .footer_01 h1 {
  margin-top: 0.68rem;
  font-size: 0.3rem;
  font-weight: 700;
  color: #333333;
}
.cooperation .logo {
  margin-top: 0.68rem;
}
.cooperation .logo ul {
  display: flex;
  justify-content: center;
}
.cooperation .logo ul li {
  margin-left: 0.1rem;
}
.cooperation .logo ul li:first-child {
  margin: 0;
}
@media all and (max-width: 1200px) {
  .cooperation .logo {
    display: none;
  }
}
.cooperation .logo_02 {
  display: none;
  margin-top: 0.62rem;
}
.cooperation .logo_02 ul {
  display: flex;
  justify-content: space-around;
}
.cooperation .logo_02 ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cooperation .logo_02 ul li a img {
  width: 2.2rem;
  height: 0.7rem;
}
@media all and (max-width: 1200px) {
  .cooperation .logo_02 {
    display: block;
  }
}
.cooperation .footer_02 {
  margin-top: 0.8rem;
}
.cooperation .footer_02 p {
  border-top: 0.01rem solid #ccc;
  margin: 0 auto;
  font-size: 0.2rem;
  padding-top: 0.14rem;
  color: #333333;
}
@media all and (max-width: 1200px) {
  .cooperation .footer_02 p:nth-child(1) {
    display: none;
  }
}
.cooperation .footer_02 p:nth-child(2) {
  width: 7rem;
  margin-top: 0.11rem;
  display: none;
}
@media all and (max-width: 1200px) {
  .cooperation .footer_02 p:nth-child(2) {
    display: block;
  }
}
